# Environment Variables Template
PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL / SQLite)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/evoting_db?schema=public"

# App Security
JWT_SECRET="super-secret-e-voting-key-2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
